header{
    color: $white;
    margin: 0px auto;
    min-height: 100vh;

    .header-txt{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
        opacity: 0;
        transform: translateY(40px);
        animation: headerAnim 1.5s forwards;

        @keyframes headerAnim{
            to{
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
    h1{
        text-transform: uppercase;
        font-family: "Inter", sans-serif;
        font-size: 3rem;
        letter-spacing: 5px;
        max-width: 500px;
        text-align: center;
        line-height: 1.3;
        padding-bottom: 20px;
    }
    p{
        font-weight: 300;
        font-style: italic;
        margin: 40px auto 60px;
        width: 85%;
    }
    span{
        border: 2px solid $white;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        font-size: 1.2rem;
        cursor: pointer;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            transform: scale(1.5);
            transition: 0.3s;
        }
    }
}