header{
    position: relative;

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #edeceb31;
        width: 85%;
        height: 65px;
        z-index: 100;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        
        ul{
            height: 100%;
        }

        li{
            padding: 0 20px;
            text-transform: uppercase;
            font-family: "Inter", sans-serif;
            font-weight: bold;
            font-size: 0.8rem;
            display: flex;
            align-items: center;
        }

        .nav-left-side{
            display: flex;
            align-items: center;
            justify-content: space-around;

            
            li{
                cursor: pointer;
                height: 100%;
                
                &:hover{
                    background: rgb(233, 232, 232);
                    color: $black;
                }
            }

            @media screen and (max-width:670px) {
                width: 100%;
            }
        }
        .nav-right-side{
            display: flex;
            align-items: center;
            justify-content: space-around;

            li{
                height: 100%;
            }

            i{
                font-size: 1.1rem;
                cursor: pointer;
                height: 100%;
                display: flex;
                align-items: center;
                transition: 0.2s;

                &:hover{
                    transform: scale(1.3);
                }
            }

            @media screen and (max-width:670px){
                display: none;
            }
        }
    }
}