.section1,
.section2,
.section3{
    background: $white;
    padding: 30px 0;
    width: 85%;
    margin: 0 auto;
}

.section1{
    .s1-upper{
        max-width: 800px;
        margin: 0 auto;

        #special-p{
            text-align: center;
            font-size: 0.9rem;
            padding: 30px 0 50px 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            column-gap: 2rem;

            &::before,
            &::after{
                content: "";
                background: $color2;
                height: 1.5px;
                width: 100%;
            }
        }
        .txt-container{
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: column;
            max-width: 600px;
            margin: 0 auto;

            p{
                font-size: 0.8rem;
                font-style: italic;
                line-height: 2;
            }
        }
        h2{
            text-transform: uppercase;
            font-family: "Inter", sans-serif;
            font-size: 3rem;
            font-weight: 800;
            letter-spacing: 3px;
            line-height: 1.2;
            padding-bottom: 35px;
        }
        
    }
    .img{
        margin: 50px auto;
        display: flex;
        align-items: center;
        justify-content: center;

        #img1{
            max-width: 80%;
        }
    }
    button{
        display: block;        
        margin: 0 auto 30px;
    }
}

.section2{
    display: flex;
    border-top: 1px solid $color2;
    padding: 0;

    .right-side, 
    .left-side{
        max-width: 50%;
        margin: 0 auto;

        h3{
            font-family: "Inter", sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
            letter-spacing: 1.2px;
            padding-bottom: 10px;
        }

        p:first-child{
            font-size: 0.8rem;
            text-align: center;
        }
        p{
            font-size: 0.8rem;
            line-height: 2;
            padding: 20px 0;
            max-width: 80%;
            margin: 0 auto;
        }
        button{
            display: block;        
            margin: 0 auto 50px;
            }

        .right-img,
        .left-img{
            max-width: 80%;
            display: block;
            margin: 0 auto;
        }
    }
    .right-side{
        border-left: 1px solid $color2;
    }
}

.section3{
    display: flex;
    padding: 0;
    margin: 30px auto;
    height: 450px;

    .dwn-lft{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        border-right: 1px solid $color2;
    }
    .dwn-rgt{
        display: flex;
        justify-content: center;
        width: 50%;

    }
    
    .adress,
    .phone,
    .email-adress,
    .social{
        display: grid;
        grid-template-columns:33% 67%;
        align-items: center;
        height: 25%;

        p,
        a{
            color: $color1;
            font-size: 0.8rem;
            text-decoration: none;
        }
        ul{
            display: flex;
            align-items: center;

            li{
                margin: 0 10px 0 0;
                border: 1px solid $color2;
                border-radius: 50%;
                cursor: pointer;

                i{
                    padding: 10px;
                }

                &:hover{
                    scale: 1.2;
                    transition: 0.2s;
                }
            }
        }
    }
    .phone,
    .email-adress,
    .social{
        border-top: 1px solid $color2;
    }
}