.form-part{
    width: 80%;
}

h4{
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    color: $color1;
    padding: 15px 0;
}
#name,
#email{
    border: 1px solid $color2;
    border-radius: 2px;
    height: 30px;
    width: 100%;
    outline: none;
    padding: 1rem;
}
#message{
    border: 1px solid $color2;
    border-radius: 2px;    
    height: 100px;
    resize: none;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    padding: 1rem;
}
