@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter-ExtraBold.ttf);
  font-family: "Merriweather";
  src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  font-family: "Merriweather", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(../images/bg.jpg) fixed center/cover;
  background-size: cover;
  max-width: 1300px;
  margin: 30px auto;
  text-align: center;
}
body::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
  -webkit-animation: animeBefore 1.5s ease forwards;
          animation: animeBefore 1.5s ease forwards;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
@-webkit-keyframes animeBefore {
  to {
    opacity: 0;
  }
}
@keyframes animeBefore {
  to {
    opacity: 0;
  }
}

a:visited {
  color: rgb(242, 243, 243);
}

header {
  color: rgb(242, 243, 243);
  margin: 0px auto;
  min-height: 100vh;
}
header .header-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-animation: headerAnim 1.5s forwards;
          animation: headerAnim 1.5s forwards;
}
@-webkit-keyframes headerAnim {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes headerAnim {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
header h1 {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  letter-spacing: 5px;
  max-width: 500px;
  text-align: center;
  line-height: 1.3;
  padding-bottom: 20px;
}
@media screen and (max-width: 502px) {
  header h1 {
    font-size: 2rem;
  }
}
header p {
  font-weight: 300;
  font-style: italic;
  margin: 40px auto 60px;
  width: 85%;
}
@media screen and (max-width: 502px) {
  header p {
    font-size: 0.9rem;
    margin: 20px auto 30px;
  }
}

header {
  position: relative;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(237, 236, 235, 0.1921568627);
  width: 85%;
  height: 65px;
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
header nav ul {
  height: 100%;
}
header nav li {
  padding: 0 20px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .nav-left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header nav .nav-left-side li {
  cursor: pointer;
  height: 100%;
}
header nav .nav-left-side li:hover {
  background: rgb(233, 232, 232);
  color: black;
}
@media screen and (max-width: 670px) {
  header nav .nav-left-side {
    width: 100%;
  }
}
header nav .nav-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header nav .nav-right-side li {
  height: 100%;
}
header nav .nav-right-side i {
  font-size: 1.1rem;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header nav .nav-right-side i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
@media screen and (max-width: 670px) {
  header nav .nav-right-side {
    display: none;
  }
}

.section1,
.section2,
.section3 {
  background: rgb(242, 243, 243);
  padding: 30px 0;
  width: 85%;
  margin: 0 auto;
}

.section1 .s1-upper {
  max-width: 800px;
  margin: 0 auto;
}
.section1 .s1-upper #special-p {
  text-align: center;
  font-size: 0.9rem;
  padding: 30px 0 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}
.section1 .s1-upper #special-p::before, .section1 .s1-upper #special-p::after {
  content: "";
  background: rgb(215, 213, 213);
  height: 1.5px;
  width: 100%;
}
.section1 .s1-upper .txt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin: 0 auto;
}
.section1 .s1-upper .txt-container p {
  font-size: 0.8rem;
  font-style: italic;
  line-height: 2;
}
@media screen and (max-width: 670px) {
  .section1 .s1-upper .txt-container p {
    font-size: 0.7rem;
  }
}
.section1 .s1-upper h2 {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 1.2;
  padding-bottom: 35px;
}
@media screen and (max-width: 670px) {
  .section1 .s1-upper h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 502px) {
  .section1 .s1-upper h2 {
    font-size: 2rem;
  }
}
.section1 .img {
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section1 .img #img1 {
  max-width: 80%;
}
.section1 button {
  display: block;
  margin: 0 auto 30px;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid rgb(215, 213, 213);
  padding: 0;
}
@media screen and (max-width: 700px) {
  .section2 {
    display: block;
  }
}
.section2 .right-side,
.section2 .left-side {
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 700px) {
  .section2 .right-side,
  .section2 .left-side {
    width: 100%;
  }
}
.section2 .right-side h3,
.section2 .left-side h3 {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.2px;
  padding-bottom: 10px;
}
@media screen and (max-width: 820px) {
  .section2 .right-side h3,
  .section2 .left-side h3 {
    font-size: 1rem;
  }
}
.section2 .right-side p:first-child,
.section2 .left-side p:first-child {
  font-size: 0.8rem;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .section2 .right-side p:first-child,
  .section2 .left-side p:first-child {
    padding: 50px 0 20px 0;
  }
}
.section2 .right-side p,
.section2 .left-side p {
  font-size: 0.8rem;
  line-height: 2;
  padding: 20px 0;
  max-width: 80%;
  margin: 0 auto;
}
.section2 .right-side button,
.section2 .left-side button {
  display: block;
  margin: 0 auto 50px;
}
.section2 .right-side .right-img,
.section2 .right-side .left-img,
.section2 .left-side .right-img,
.section2 .left-side .left-img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}
.section2 .right-side {
  border-left: 1px solid rgb(215, 213, 213);
}
@media screen and (max-width: 700px) {
  .section2 .right-side {
    border-left: none;
    border-top: 1px solid rgb(215, 213, 213);
    padding-bottom: 50px;
  }
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 30px auto;
}
@media screen and (max-width: 700px) {
  .section3 {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.section3 h4 {
  text-align: left;
}
.section3 .dwn-lft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  border-right: 1px solid rgb(215, 213, 213);
  padding: 40px 0 50px 0;
}
@media screen and (max-width: 700px) {
  .section3 .dwn-lft {
    width: 100%;
    padding: 30px 0;
  }
}
.section3 .dwn-rgt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding: 10px;
}
@media screen and (max-width: 700px) {
  .section3 .dwn-rgt {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    border-top: 1px solid rgb(215, 213, 213);
  }
}
.section3 .adress,
.section3 .phone,
.section3 .email-adress,
.section3 .social {
  display: grid;
  grid-template-columns: 33% 67%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
  justify-items: start;
}
.section3 .adress p,
.section3 .adress a,
.section3 .phone p,
.section3 .phone a,
.section3 .email-adress p,
.section3 .email-adress a,
.section3 .social p,
.section3 .social a {
  color: rgb(117, 119, 117);
  font-size: 0.8rem;
  text-decoration: none;
  text-align: left;
}
@media screen and (max-width: 700px) {
  .section3 .adress p,
  .section3 .adress a,
  .section3 .phone p,
  .section3 .phone a,
  .section3 .email-adress p,
  .section3 .email-adress a,
  .section3 .social p,
  .section3 .social a {
    padding: 20px 0;
  }
}
.section3 .adress ul,
.section3 .phone ul,
.section3 .email-adress ul,
.section3 .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 680px) {
  .section3 .adress ul,
  .section3 .phone ul,
  .section3 .email-adress ul,
  .section3 .social ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 700px) {
  .section3 .adress ul,
  .section3 .phone ul,
  .section3 .email-adress ul,
  .section3 .social ul {
    padding: 20px 0;
  }
}
.section3 .adress li,
.section3 .phone li,
.section3 .email-adress li,
.section3 .social li {
  margin: 0 10px 0 0;
  border: 1px solid rgb(215, 213, 213);
  border-radius: 50%;
  cursor: pointer;
}
.section3 .adress li i,
.section3 .phone li i,
.section3 .email-adress li i,
.section3 .social li i {
  padding: 10px;
}
.section3 .adress li:hover,
.section3 .phone li:hover,
.section3 .email-adress li:hover,
.section3 .social li:hover {
  scale: 1.2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.phone,
.email-adress,
.social {
  border-top: 1px solid rgb(215, 213, 213);
}

button {
  border: 2px solid black;
  height: 45px;
  width: 170px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 530px) {
  button {
    height: 40px;
    width: 150px;
  }
}
@media screen and (max-width: 502px) {
  button {
    height: 30px;
    width: 120px;
  }
}
button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
button a {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 700;
}
@media screen and (max-width: 502px) {
  button a {
    font-size: 0.8rem;
  }
}
button a:visited {
  color: black;
}

.header-txt button {
  border: 2px solid rgb(242, 243, 243);
  background: none;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.header-txt button i {
  color: rgb(242, 243, 243);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}
.header-txt button:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 700px) {
  .header-txt button:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.section3 button {
  border: 2px solid rgb(111, 111, 111);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section3 button a {
  color: rgb(117, 119, 117);
}
.section3 button:hover a {
  color: black;
}

.form-part {
  width: 80%;
}

h4 {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  color: rgb(117, 119, 117);
  padding: 15px 0;
}

#name,
#email {
  border: 1px solid rgb(215, 213, 213);
  border-radius: 2px;
  height: 30px;
  width: 100%;
  outline: none;
  padding: 1rem;
}

#message {
  border: 1px solid rgb(215, 213, 213);
  border-radius: 2px;
  height: 100px;
  resize: none;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  padding: 1rem;
}/*# sourceMappingURL=index.css.map */